 @font-face {
   font-family: futura;
   src: url(/home/abhi/Downloads/futura/futura-light-bt.ttf) format("truetype");
 }


.App {
  text-align: center;
}


body{
  padding: 0px;
  margin: 0px;
 font-family: futura !important;


}


  

.total-container{
  background-image: url("https://cdn.pixabay.com/photo/2021/10/11/17/37/doctor-6701410_960_720.jpg");  
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  position:relative;
  background-position: center;
  box-sizing: border-box;
}


